  <footer id="footer">
    <nav>
      <ul>
        <li><span>Cloud3</span></li>
        <li>
          <a href="{{ .URL }}company/">Company</a>
        </li>
        <li>
          <a href="{{ .URL }}blog/">Blog</a>
        </li>
          <li>
          <a href="{{ .URL }}cookbooks/">Cookbooks</a>
        </li>
        <li>
          <a href="http://twitter.com/{{.Site.Params.twitter}}">Twitter!</a>
        </li>
      </ul>
    </nav>
    <p>&copy; Cloud3 2015-<script type="text/javascript">
                      document.write(new Date().getFullYear());
                    </script>. All rights reserved.</p>
  </footer>
